@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ccc1be;
}

.Solarius {
  animation: background-pan 5s linear infinite !important;
  background: linear-gradient(to right, purple, pink, purple);
  background-clip: text;
  background-size: 200%;
  --webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@media (min-height: 800px) and (min-width: 1450px) {
  #root {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
}
