@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ccc1be;
}

@media (min-height: 600px) and (min-width: 1000px) {
  #root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App {
    height: 800px;
  }
}
